{
	"version": 3,
	"configurePresets": [
		{
			"name": "ALL-WITH-AUTO-DEPLOYMENT",
			"binaryDir": "${sourceDir}/build/ALL",
			"cacheVariables": {
				"AUTO_PLUGIN_DEPLOYMENT": "ON"
			},
			"environment": {
				"CommunityShadersOutputDir": "F:/Modding/Development/MO2 Data/SSE - Dragon Break Project/mods/Community Shaders Stage"
			},
			"inherits": "ALL"
		}
	]
}